/* codigo css para customizar o streamlit */

.stButton > button:hover { 
    color: #0414f8;
    backgroud-color: #a9e6e0;
    font-family: Arial;
    font-size: 0.8em;
    height: 30px;
    width: 100%; 
}

.stButton > button { 
    color: #0659f5;
    backgroud-color: #0a2df0;
    font-family: Arial;
    border-color: #051df5;
    font-size: 0.8em;
    height: 30px;
    width: 100%; 
}


/* Removendo a marca dagua made in streamlit da pagina  */ 

footer {
    visibility: hidden;
}

/* Removenvo da pagina o menu de configurações do streamlit  */

#MainMenu {
    visibility: hidden;
}
