/* codigo css para customizar o streamlit */
.st-key-blue button { background-color:blue;
}

.stButton > button { 
    backgroud-color: #4500da;
    font-family: Arial;
    border-color: #fff;
    font-size: 0.8em;
    height: 30px;
    width: 100%; 
}

.stButton > button:hover { 
    backgroud-color:#4500da;      
    border-color: #fff;
    /* font-family: Arial; */
    font-size: 0.8em;
    height: 30px;
    width: 100%; 
}

/* Removendo a marca dagua made in streamlit da pagina  */ 

footer {
    visibility: hidden;
}

/* Removenvo da pagina o menu de configurações do streamlit  */

#MainMenu {
    visibility: hidden;
}
